.app__about {
  flex: 1;
  width: 100;
  flex-direction: column;
}

.app__profiles {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 2rem;
  a {
    text-decoration: none;
  }
}

.app__profile-item {
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
  box-shadow: 0 0 25px rgba(236, 225, 225, 0.4);
  border-radius: 15px;
  img {
    width: 100%;
    height: 170px;
    border-radius: 15px;
    object-fit: cover;
  }

  @media screen and (min-width: 2000px) {
    width: 370px;
    margin: 2rem 4rem;
    img {
      height: 320px;
    }
  }
}
.about-text {
  span {
    text-transform: capitalize;
  }
}
.app__profile-title {
  font-size: 1rem;
  font-weight: 800;
  color: var(--white-color);
  text-align: left;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}
